<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What the Wind and the Holy Spirit Have in Common (and Why it Matters!)</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>What the Wind and the Holy Spirit Have in Common (and Why it Matters!)</h1>
        </div>
        <div class="blog-content">
            <p>Are you the kind of person who is willing to go wherever the wind takes you? Maybe, as Christ-followers, we should all be! Look at what Jesus says to the middle of his memorable conversation with Nicodemus:
                <br/><br/>
                John 3:7–8 (CSB) "Do not be amazed that I told you that you must be born again. The wind [pneuma] blows where it pleases, and you hear its sound, but you don’t know where it comes from or where it is going. So it is with everyone born of the Spirit [pneuma].”
                <br/><br/>
                The New Testament was written in Greek and the Greek word for wind pneuma is also the same word for spirit! (Interestingly, Hebrew is the same way, as the same word renders both "wind" and "spirit.") In context, Jesus is trying to explain to Nicodemus how we can be "born again" (John 3:3 & 5). Utilizing a fun wordplay, he compares the wind to the Holy Spirit.</p>
                <br/><br/>
            
            <h2>What do the wind and the Holy Spirit have in common?</h2>
            <p>Both are mysterious and unseen though their effects are vividly felt. They have a power all their own that cannot be contained. And although they are both invisible, no one can deny their presence!
                <br /><br />
                It truly is a timeless analogy. Have you ever taken a ride on a sailboat? Those maneuvering the ship know their role: hoist the sail and posture it to be ready for the movement of the wind! Yes, the sailor of a sailboat's role is to posture the sail, not to power it. The power to move it comes from the wind. A sailor let's the wind do the work.
                <br /><br />
                That's a picture of the Holy Spirit for us! He provides the power; that's his role. Our posture of readiness opens us up to the Holy Spirit’s power.</p>
                <br /><br />

            <h2>Who is the Holy Spirit?</h2>
            <p>Imagine trying to sail a sailboat from San Diego to Hawaii with just oars. Ridiculous! Right? And yet, here we try to power our lives on our own apart from the Holy Spirit. He is like the wind in our sails. He provides the power to move us, we just posure ourselves ready and willing for his movement.</p>
                
        </div>
        <div class="motivation">
            <p>Holy Spirit, welcome. Come have your way. Do what only you can do! I make myself ready for you!</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>
</body>
</html>