<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robert Wachs’ Resignation</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>Robert Wachs’ Resignation</h1>
        </div>
        <div class="blog-content">
            <p>When I first moved back to San Diego 23 years ago, I was introduced to this neighborhood church in Tierrasanta where people were authentically doing life together and serving their community in ways that were pretty radical for churches at that time. After hearing my first sermon from Pastor Mike at what was then Canyon View Christian Fellowship and attending my first life group, I knew that I had found my new church home.
                <br /><br />
                A couple years later, Lisa and I were married at that same church and we made a point of moving to Tierrasanta so we could be fully involved in the life of Canyon View. We loved serving in any way possible – whether that was playing drums and keys on a worship team, or leading life groups, or serving as life group coaches or overseeing the diaconate. Even though we both had careers outside the church, there wasn’t a ministry where we didn’t serve.
                <br /><br />
                In 2005, I was asked to join the staff as Executive Pastor. At that time, our oldest was just a few months old and we were already expecting our youngest. Our boys grew up in a full-time ministry family, and it was here at Newbreak that they were dedicated as babies, baptized as children, and where our youngest was buried earlier this year.
                <br /><br />
                Over the years, I have been privileged to be a part of the life of this church as we grew from a single site to a multi-campus church. Along the way, we rebranded as Newbreak, but remained focused on serving communities throughout San Diego.
                <br /><br />
                As Executive Pastor for 15 years, and as Lead Pastor for the past 3 years, I’ve had a front-row seat to so much life transformation and have been incredibly privileged to be a part of many of your stories. I’ve watched God work to restore marriages, to heal the sick, to reunite families, to seek out those who are hurting and in pain, and I’ve loved Newbreak’s commitment to building the Kingdom of God, both locally and around the world. I remember being in Egypt and seeing the difference our installing water filters made in bringing health and wellness to entire communities – – or going to South America and seeing the pure joy and excitement in the faces of young boys and girls who were able to participate in the after-school programs we funded. And I think about the first time Newbreak raised and gave away over a million dollars to our partners and projects throughout the world through Kingdom Builders. None of that would have been possible without all of you!
                <br /><br />
                As many of you already know, life for our family took a terrible turn earlier this year when our 17-year old son died unexpectedly and we were thrown into a season of the deepest grief we’ve ever experienced. Those of you who have lost a child know that it is one of the hardest experiences a human could ever have to endure. And to make it even worse, the pain and difficulties we faced didn’t begin with our son’s sudden death, but had actually been steadily intensifying over the three years prior to his passing. Ayden battled multiple severe mental health issues and it is no exaggeration to say that our primary focus for the last few years of his life was just trying to keep him alive.
                <br /><br />
                At the same time, we were working incredibly hard alongside some phenomenal ministry teams to keep Newbreak alive as well, knowing that many churches throughout the country did not survive Covid. That was not a fate we wanted for Newbreak. Like most churches in America, Newbreak’s attendance has decreased from what it was before Covid and owing both to the lower attendance and the downturn in the economy, giving and financial support have also been reduced. That puts even more pressure on staff to carry out ministry activities with fewer resources.
                <br /><br />
                Despite that, Newbreak has a tremendous staff and various ministry teams, all of whom have been working extremely hard the past few years to continue the work of connecting people with God through authentic relationships to serve communities. I’ve been so inspired by the dedication and commitment of all of Newbreak’s staff during this season.
                <br /><br />
                However, even the best staff and the strongest ministry teams cannot do it all and they need a fully engaged leader who is operating at maximum capacity in order to overcome the challenges of the past years. Despite my best efforts, between navigating our sons’ illness and grieving his subsequent death, I simply have not been as available as Newbreak has needed.
                <br /><br />
                And so after a time of prayer and deep deliberation, the Newbreak Board of Trustees and I have mutually agreed that it would be best for Newbreak to have a change in leadership. Accordingly, effective November 27, 2023, I have resigned as Newbreak’s Lead Pastor.
                <br /><br />
                Many of you have already heard me say that “God does not want us to waste our pain”. Over the past few months, Lisa and I have sensed that God may want to use us in new ways to help other families who are completely overwhelmed dealing with mental health challenges, addiction, unexpected death, and grief. While we do not yet know how God will use our story in this space, we know that as the God of redemption, He is always willing to use whatever we surrender to His purposes. While we look forward to whatever God has next, we are deeply saddened at having to say goodbye to all of you. We don’t just count you as fellow Newbreakers, but as dear friends.
                <br /><br />
                We are confident, though, that under new leadership, Newbreak will continue to grow, not just numerically or financially, but more importantly, in spiritual health and capacity so as to build even more Christ-centered leaders who will change their world.
                <br /><br />
                During this time of transition, I would ask you to please be committed to prayer. Your leaders need your support, particularly now as they navigate this change, and as they continue to provide leadership, support, and care to our community. Your faithfulness to hold Newbreak in prayer through this time will help make this transition as smooth as possible. I would ask you to also pray for Lisa and I and our son Corbyn as we seek the Lord for what is next.
                <br /><br />
                Thank you so much for the privilege of serving all of you the past two decades. I still truly believe that Newbreak’s best days are ahead of her.
                <br /><br />
                The best is yet to come!
            <br/><br/>
            Blessings,
                <br /><br />
                Pastor Robert</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>

</body>
</html>