<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juggling Worry</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>Juggling Worry</h1>
        </div>
        <div class="blog-content">
            <h2>Christmas is about peace, right?</h2>
            <p><strong>Christmas is supposed to be a season of peace. In fact, the birth of Jesus is announced as the “Arrival of Peace.” However, Christmas often times feels more like the arrival or worry and stress doesn’t it?</strong>
                <br /><br />
                The Harvard Medical School recently found that 62% of people have “elevated” levels of worry during the holidays. We worry about our finances, family, food, fashion, fitness, and our future. These are all called worries of provision and all throughout scripture, we read that God knows what we need (Matthew 6:31-32) and promises that He will provide what we need in each of these areas (Matthew 6:33).</p>
                <br /><br />

            <h2>God provides what we need, not want.</h2>
                <p>When we don’t think that God will provide or don’t like the way He provides, we start to worry and spin out in each of these areas. More often than not you start to feel like you’re having to juggle so many different things that God never designed for you to juggle.
                <br /><br />
                I think of worrying, kind of like juggling. I learned to juggle in 7th grade. My baseball coach told me to learn so that I could be a better infielder and increase my hand eye coordination. In order to juggle well, you have to focus on the items your juggling. The minute you take your eye off of what you’re juggling, you will literally “drop the ball.”
                <br /><br />
                If you asked me to drive home from work, be an engaged parent, be a loving husband, mentor my staff, and do my job with excellence all while juggling tennis balls, I most likely wouldn’t make it home. Driving and juggling doesn’t work…
                <br /><br />
                But even if I did make it home, there would be no way I could give my family, friends, and business my best because I’m focused on juggling the tennis balls. [Watch Pastor Juggle some tennis balls on YouTube just to illustrate this point.]</p>
                <br /><br />
            
            <h2>Focusing on worry is unproductive.</h2>
                <p>In the same way, when we focus on our worries, we become less productive at work. Our kids wonder why we’re not playing with them. Our spouse doesn’t feel the love and connection we used to give. We become less generous because we are worried we won’t have enough. In essence, we can’t be all that God has called us to be when we’re focused on our worries.
                <br /><br />
                Thus, Christmas feels like the arrival of worry, not the arrival of peace.</p>
                <br /><br />

            <h2>How do we exchange our worry for God’s peace?</h2>
                <p>We have to understand that worry is natural, but peace is supernatural. You can’t experience God’s peace, without God!
                <br/>
                Paul would give us the antidote to worry in Philippians ch. 4.
                <br /><br />
                Every time you worry about if God will provide for you do these three things…
                <br><br>
                1. Pray.<br>
                2. Present your worry to God.<br>
                3. Practice gratitude.<br><br>
                You may have to practice those three things 100 times a day, and that’s alright.
                <br><br>
                1. Keep praying.<br>
                2. Keep presenting your worry.<br>
                3. Keep practicing gratitude.
                <br><br>
                These three things will help you adjust your focus from your worries to God’s faithfulness. When you do this, God promises to exchange your worries with his supernatural peace and that is transformational.
                <br><br>
                Let’s refuse to focus on how big our worries are. Let’s remember to focus on how big our God is!</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>

</body>
</html>