<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jesus Wants to Meet You</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>Jesus Wants to Meet You</h1>
        </div>
        <div class="blog-content">
            <p>Our most recent sermon was based on John 4:1-42 and entitled, “He Had To Meet You.” I would encourage you to read through that section of scripture, as it is an incredible story about the heart of Jesus toward people in the margins. John tells us that Jesus had to go through Samaria, which is an amazing statement, in light of the culture and bigotry of that day.</p>
            
            <h2>Samaria, through Jesus' heart.</h2>
            <p>Samaria was ultimately the result of the schism between the Northern and southern kingdoms of Israel dating back to the ninth century BC. The northern kingdom came to be called Israel in the southern kingdom came to be called Judah. Jerusalem was in the southern kingdom, and because of the pilgrimage feasts the people of the north were traveling to the south on a regular basis. This pose problems for the northern leaders, and they wanted to protect their control. So they set up high places and worship centers, all around the northern kingdom, but particularly at Mount Gerazim. As the decades unfolded the Judaism of the north became combined with all kinds of other world religions, and obviously became a very different kind of Judaism as a result. By the time of Jesus, a godly Jew and certainly a rabbi, would never travel through Samaria and would instead take much longer route around it. To make the story, even more scandalous, Jesus stops at Jacob’s well outside the city of Sychar and talks to a Samaritan woman about her spirituality! John doesn’t tell us when but at some point Jesus becomes aware that she’s also been married five times and is living with another man. Talk about people who would’ve definitely been marginalized by every first century rabbi!
                <br /><br />
                But this event is such a giant window into the heart of God, and how much he loves everyone, but particularly the marginalized. Imagine being this unnamed woman who meets the son of God, and because of Jesus’s kindness and powerful prophetic word comes to believe that Jesus is the Messiah. Then she goes back to Sychar and shares about Jesus as Messiah to those who’ve historically marginalized her as well. Only God can change a heart like that!</p>
        </div>
        <div class="motivation">
            <p>God doesn't change!</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>
</body>
</html>