<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision without Execution is Hallucination</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>Vision without Execution is Hallucination</h1>
        </div>
        <div class="blog-content">
            <p>About one year ago, my wife and I discovered black mold in our kitchen and it was horrifying. We immediately cleaned and disinfected the everything in the cabinets to make sure that the mold was gone. Two weeks later, all of the mold was back and it was so frustrating because we didn’t know where it was coming from. We ended up cleaning it all again, praying that it wouldn’t return.
                <br /><br />
                A few weeks later, I was throwing our trash away outside and as I walked toward the back of the house, I heard what sounded like water spraying on the ground. I got closer to the sound and realized it was coming from under our house. So I looked through one of the vents under our house and saw that one of our hot water pipes was shooting water under our house.
                <br /><br />
                I got super nervous and decided to grab a flashlight to see how bad the damage was. Fearing the worst, I turned on the light and found a lake of steamy, hot water under our house. My heart sank because I now knew the reason why there was mold in our kitchen. My mind started to wonder if there was more damage in our house that we weren’t aware of.
                <br /><br />
                It was a nightmare…
                <br /><br />
                We brought a company in to help assess the damage and they ultimately came to the conclusion that we needed to tear out a majority of our kitchen to fix the damage.
                <br /><br />
                What do you do when life gives you lemons? You make lemonade!
                <br /><br />
                We decided to use this as an opportunity to create the kitchen we always wanted. We tore out everything in our kitchen so that we could start with a blank canvas.
                <br /><br />
                My wife, Julie, started dreaming and she had a vision for what she wanted our new kitchen to look like. She knew what color cabinets, what kind of appliances, the layout, the backsplash, the color paint, and even what type of lighting she wanted. She could see the final product before it even came to be and she was really excited about it.
                <br /><br />
                I, on the other hand, couldn’t picture this new kitchen because all I saw were giant holes in the walls and dust everywhere. Our house was a giant mess for 6 months! Let’s just say that our family of five ate A LOT of microwaved Dino Chicken Nuggets.
                <br /><br />
                All throughout the process, my wife kept encouraging me to trust the process. Even, in my questioning and worry, I knew my wife had a vision for this new kitchen, I just needed to trust her.</p>
                <br/><br/>
            
            <h2>There is power when you have vision.</h2>
            <p>Vision is being able to see before and beyond what others can see, while also painting a practical picture of how to get there. At Newbreak, our vision is to “Develop Christ centered leaders who change their world.”
                <br /><br />
                <strong><em>While we can say those words all day, the reality is this… “Vision without execution is hallucination.” – Thomas Edison</em></strong>
                <br /><br />
                For example, in our kitchen remodel, all I saw were holes in the walls for months. But then something amazing happened…we started taking steps to add things to our kitchen.
                <br /><br />
                The drywall went up. Then we painted the walls. We ordered cabinets and had them installed. We bought appliances and put them in place. The countertops got installed. We added lights, and backsplash, and undercabinet lighting. After one full year of hard work and taking steps of faith, I could finally see what my wife saw from the very beginning. Her vision of a beautiful kitchen became a reality and it’s now my favorite room in the house!
                <br /><br />
                In the same way, the vision of Newbreak will only become a reality when we all take a next step in our faith. Meaning that the vision of Newbreak will either accelerate or stay stagnant based on our collective response.
                <br /><br />
                The question is, how do we develop Christ centered leaders who change their world?</p>
            <br/><br/>
            <h2>Three ways we'll turn vision into reality.</h2>
            <h3>Consecration</h3>
            <p>Leviticus 20:7-8 ‘Consecrate yourselves and be holy, because I am the Lord your God. 8 Keep my decrees and follow them. I am the Lord, who makes you holy.
                <br /><br />
                Consecrate means to make something sacred or holy. We do this by giving priority to spiritual things over physical things. The most dangerous Christian is the one who settles for living a “good enough” faith. There is nothing the devil loves more than a Christian who stops living a life of purpose.
                <br /><br />
                Whether you have been following Jesus for decades, or you just began your relationship with Him yesterday, we all can take a next step toward Jesus.
                <br /><br />
                Let this be the year where we consecrate ourselves for the Kingdom of God through prayer and studying God’s word. We are going to be a church that prays first in all things. We are going to be a church that doesn’t just try to get through the Bible in a year, but a church that gets the Bible through us this year.</p>

                <h3>Courage</h3>
                <p>Joshua 1:9 Have I not commanded you? Be strong and courageous. Do not be afraid; do not be discouraged, for the Lord your God will be with you wherever you go.”
                <br /><br />
                As we take steps of faith this year, it’s going to require a lot of courage. We believe God is going to ask us to step out of our comfort zone to make an impact this year. It may be scary serving, loving, and leading others but that is a good place to be. God promises to be with us through the highs and lows of life. Let’s take steps of courage as a church this year!</p>

                <h3>Commitment</h3>
                <p>Acts 2:42-47 talks about the commitment level of the first church. They were so committed to God and each other that they were willing to do anything for the benefit of the kingdom of God. They constantly ate, laughed, cried, sacrificed, worshipped, and served each other. Because of their commitment, it says, that “the Lord added to their number daily those who were being saved.”
                <br /><br />
                What if this is what Newbreak committed to this year?! Let’s be a church that models this devotion to each other and to the surrounding communities.</p>
        </div>
        <div class="motivation">
            <p>When we consecrate our lives, walk in courage, and commit to God’s way of living, He is the one who brings transformation and gives us the power to change the world. When that happens, God’s vision become a reality!</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>
</body>
</html>