<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holding onto God’s Promises</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>Holding onto God’s Promises</h1>
        </div>
        <div class="blog-content">
            <p><em>“LET US HOLD TIGHTLY WITHOUT WAVERING TO THE HOPE WE AFFIRM, FOR GOD CAN BE TRUSTED TO KEEP HIS PROMISE.”</em>
                <br /><br /><br/>
                My family and I went to Missouri over the summer to visit my mom. Misery you say? Yes, that’s what I said. The weather was very hot and humid. My mom lives about 30 miles from Branson. If you haven’t been to Branson—it's like Disneyland for people who love Jesus. There are a lot of entertainment shows and family attractions. You know how families go to Disneyland with matching t-shirts? Well, Branson...same…except they all have Bible verses on the back instead of Mickey Mouse.
                <br /><br />
                On this trip, my kids wanted to try another mountain coaster. I say another because there are 3 mountain coasters in Branson and the last time we visited my mom, they LOVED the mountain coaster we went on. When they found out there were 2 more of them, they came up with their own “mountain coaster bucket list” of sorts. So, for 2023, we decided to conquer the Copperhead Mountain Coaster which is at the top of Shepherd of the Hills, the highest point in Southwest Missouri.</p>
                <br/><br/>
            
            <h2>God keeps his promises; my job is to hold on.</h2>
            <p>January 1 is one of the most hopeful days of the year because it’s a new start and a new beginning. Everyone is ready to tackle the year and it feels like nothing will be able to stop us. That’s incredible! We need to remember that feeling because let’s be honest, this year will inevitably have hard times.
                <br /><br />
                In the hard times, you will naturally go toward the comfort and rhythms we have in life. For many of us our rhythms are drinking, drugs, mindless scrolling, worrying.</p>
                <br /><br />

                <h3>When you have godly rhythms set in place, those will replace the negative ones.</h3>
                <p>That’s why we need our routines and rhythms to carry us through as predetermined commitments.
                <br /><br />
                Did you know that there are 7,487 promises that God has given to us? This is about 85% of all the promises in the Bible. I want to encourage you to start a rhythm of putting God’s promises in your heart and mind. One way you can do this is to start your year reading God’s promises, starting right here with the YouVersion app and the "Promises of God" reading plan.</p>
                <br /><br />

                <h3>If God is a promise-maker and promise-keeper, then we are His promise-holders!</h3>
                <p>There is something that happens to us when God’s promises permeate our thoughts. We become more optimistic! Don’t believe me? Try it! If you pre-decide to make God’s promises front and center you’ll change your outlook!</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>


</body>
</html>