<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be All That You Can Be</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>Be All That You Can Be</h1>
        </div>
        <div class="blog-content">
            <p>For over 20 years, the US Army used this slogan to recruit young people to join its ranks. Posters, tv commercials, catchy jingles and inspiring images were part of a very successful ad campaign that increased not only the number but the quality of recruits.
                <br /><br />
                The reason why? Perhaps it has something to do with the fact that the slogan itself is inspiring. Who doesn’t want to be all they can be? Who wants to settle for a lackluster life? A mediocre job? Who wouldn’t want to be a part of an organization that “gets more done before 9am than most people accomplish all day”?
                <br /><br />
                This simple slogan was able to tap into the part of us as humans that want to do more and be more and live out a fuller potential.
                <br /><br />
                As inspiring and optimistic as this slogan sounds, the sad reality is that many of us do settle for less than “all that we can be.” We fail to appreciate our own unique talents, or we diminish the importance of what we bring to the world, or we just think our voice doesn’t matter. But those thoughts are not reflective of how God sees us. Some 2000 years ago, the Apostle Paul recorded that:</p>
                <br /><br />
            <h3>“For we are God’s masterpiece. He has created us anew in Christ Jesus, so we can do the good things he planned for us long ago.” Ephesians 2:10 (NLT)</h3>
                <p>Though not as “catchy” as the Army’s slogan, this verse can also serve as a recruiting platform for us as Christ-followers. In this regard, there are a couple of points worth highlighting.
                <br /><br />
                First, we are all masterpieces. You are a masterpiece. A marvelous work of art hand-made by the Creator of the Universe. If a famous painting like Edvard Munch’s The Scream could fetch nearly $120 million at auction, what is a human masterpiece worth? There is no monetary value. Our value is more than can be measured by human means.
                <br /><br />
                Second, God planned specific things for each of us to do. He intentionally created every one of us and gave us unique talents and gifts to use for His purposes.
                <br /><br />
                The Bible lists some of these gifts in various places and we often refer to them as “spiritual gifts.” We are told we all have them, but for many, it’s easy to be confused by what we are supposed to do with them, and even more, do they even matter? Let’s address some of the “misconceptions” when it comes to our spiritual gifts and talents.</p>
                <br/><br/>
            
            <h2>Myth #1 – Spiritual gifts are just for super-spiritual people.</h2>
            <p>Some of the spiritual gifts seem unique to people like pastors or those who are in full-time ministry. Things like teaching and preaching and being evangelists. However, it may come as a shock to learn that none of the gifts are just for preachers or the super-spiritual people. A coffee barista can have a gift of evangelism and put it to use in her job each and every day. While serving in ministry at church is always a great place to develop and practice our spiritual gifts, nothing in the Bible says only people in vocational ministry have spiritual gifts.</p>
                <br /><br />

            <h2>Myth #2 – There are more important and lesser important gifts.</h2>    
                <p>Yes and no, but mostly no. Sure, the Apostle Paul says we should “eagerly desire the greater gifts” 1 Corinthians 12:31. But he makes this statement after explaining how no gift is irrelevant to the proper functioning of the entire body and that unity requires us to each play the part we have been given. Certainly, he wouldn’t contradict the argument he just made! And indeed, he wasn’t as he goes on from verse 31 to talk about love and the need for all of us to pursue love in all of our relationships as we function together using our individual gifts and talents.</p>
                <br /><br />

            <h2>Myth #3 – My gift doesn’t really matter.</h2>    
                <p>Again, the Apostle Paul, in describing the gifts like they are different parts of the body, tells us that if we were all the same, with the same gifts and talents, we’d be missing a lot of valuable components (1 Corinthians 12:15-20). This is especially important in understanding why my particular gift matters. It is easy to think “my gift of administration isn’t really important as I just schedule the doctor’s appointments, she’s the one who does the hard work of treating people.” Sure, but if people can’t ever actually get a time to see the doctor, it doesn’t matter if she is the most brilliant medical provider in the world!
                <br /><br />
                Maybe you have a gift of teaching and have an audience of tens of thousands of people every day. Great! How are you helping others develop their gifts through your own?
                <br /><br />
                Maybe you have a gift of hospitality but not sure it really matters. How can you invite people into your home and create an environment that allows you to show them God’s love in tangible ways? And even more so, those with the gift of hospitality have a way of <em>making people feel at home wherever they are.</em>
                <br /><br />
                Maybe you have a gift of exhortation. Use it to encourage everyone you encounter. The world needs more comfort and more positivity, not less!
            <br/><br/>
            If you don’t already know, commit to finding out what is your role? What is your unique gift? How are you fulfilling it at home? At work? In ministry at church?
                <br /><br />
                If you do already know, how can you grow and develop your unique gift so you can “be all that you can be,” however God uniquely created you? God doesn’t require each of us to be well-rounded individuals, equally adept at all things. He creates each of us with unique giftings so we can work together with others to accomplish His great plans for our lives.</p>
        </div>
        <div class="motivation">
            <p>You are God’s masterpiece and your gift matters!</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>

</body>
</html>