<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregnancy Loss</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>Pregnancy Loss</h1>
        </div>
        <div class="blog-content">
            <p>Why would God give and then take away?
                <br /><br />
                We may never know the answer until we get to Heaven but while we’re in this fallen world, we’ll experience loss, including the loss of our most beloved little ones. Whether a miscarriage or a birth where the child is unable to survive on its own, it’s a sad part of life.
                <br /><br />
                Though he brings grief, he will show compassion, so great is his unfailing love. For he does not willingly bring grief or affliction to anyone.
                <br /><br />
                It can be difficult to know what to say to someone who has just lost a baby. Here are a few thoughts from those of us who have experienced pregnancy or infant loss, as well as a comforting prayer for miscarriage to all those affected.</p>
                <br /><br />

            <h2>What to Say to Someone Who Has Had a Miscarriage</h2>
                <p>1. It’s best to express sympathy with simple words.<br>
                    2. “This is terrible and I’m so sorry.”<br>
                    3. “I’m sorry for what you’re going through.”<br>
                    4. “I know this hurts. I’m praying for you.”<br>
                    5. “Please know I’m here if you need to talk.”
                <br /><br />
                Don’t try to assign reason or explain things. Someone in deep grief doesn’t want to hear explanations unless they’re from their doctor about why they lost their child. They need to know others care about what they’re going through, not that they might know why it happened.</p>
                <br /><br />

            <h2>Try to avoid saying these phrases:</h2>
                <p><ul>
                    <li>“Everything happens for a reason.”</li>
                    <li>“God won’t give more than you can handle.”</li>
                    <li>“You’re still young. There’s plenty of time to have children.”</li>
                    <li>“I can’t imagine what you’re going through.”</li>
                    <li>“God knows what He’s doing.”</li>
                    <li>“There was probably something wrong with it or it was probably for the best.”</li>
                </ul></p>
                <br /><br />

            <h2>Actions can speak louder than words:</h2>
                <p><ul>
                    <li>Make an effort to show sympathy by attending the funeral (if there is one).</li>
                    <li>Make yourself available in some other way. This can be powerful for the grieving parent.</li>
                    <li>Allow the parent to share their story if they’re comfortable doing so in their own time.</li>
                    <li>Use a prayer for miscarriage below to guide your empathy and lift up the hurting family.</li>
                </ul></p>
                <br /><br />

            <h3>Prayer for Miscarriage: A Prayer for the Parents</h3>
                <p>Heavenly Father,
                <br /><br />
                Thank you for the parents of this precious baby. Heal their broken hearts and strengthen their faith through this storm. Help them find comfort not only in Your word but in the words of friends or family who’ve experienced the same pain. Draw them closer to You through this tragedy and reveal Yourself to them in their time of need.
                <br/><br/>
                In the powerful name of Jesus, Amen.</p>
                <br /><br />

            <h3>Prayer for Miscarriage: A Prayer for the Family</h3>
                <p>Heavenly Father,
                <br /><br />
                Thank you for being with us during this devastating time. Our hearts are crushed. We don’t understand why we’ve lost this child. But we trust You to get us through it.
                <br /><br />
                In the mighty and powerful name of Jesus, Amen.</p>
                <br /><br />

            <h3>Prayer for Miscarriage: A Prayer for the Baby</h3>
                <p>Heavenly Father,
                <br /><br />
                Thank you for this precious little one. Though our hopes for this child’s life were not realized, we know You’re in control of everything. Your thoughts are not our thoughts and Your ways are not our ways. It’s hard for us to understand but we know our sweet baby is with You in Heaven and one day we will be able to meet her face to face. We look forward to the time we can hold her in our arms and give her the love we’ve longed so deeply to give.
                <br/><br/>
                In the name of Jesus, Amen.</p>
        </div>
        <div class="motivation">
            <p>“For my thoughts are not your thoughts, neither are your ways my ways,” declares the LORD. “As the heavens are higher than the earth, so are my ways higher than your ways and my thoughts than your thoughts.</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>
</body>
</html>