<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Is Jesus?</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>Who is Jesus?</h1>
        </div>
        <div class="blog-content">
            <p><strong>“Hey Google, how many Google searches happen every day on Google?”</strong>
                <br /><br />
                This was something that I asked Google this past week and the answer I found was staggering. Come to find out, there are 8.5 billion Google searches per day! That is approximately 2 trillion searches per year. Pretty crazy, right?
                <br /><br />
                With that, here are some of the things that were Googled the most in 2023: The Barbie Movie, Israel, Hurricane Hilary, Matthew Perry, Damar Hamlin, Travis Kelce and Taylor Swift… but mostly Taylor Swift.
                <br /><br />
                Those are just a few of the things that we searched for online this week on Google. But did you know that one of the most googled questions of all time is this:</p>
                <br/><br/>
            
            <h2>Who is Jesus?</h2>
            <p>This is a question that millions of people Google every year. More than that, people have been asking this question since Jesus walked the planet 2000+ years ago. When Jesus was born, King Herod and the Magi were asking, ”Who is this baby?” The religious leaders of Jesus’ day were asking about Jesus, mostly because they couldn’t believe that a man would claim to be God. To them, Jesus was demonic, a liar, blasphemer, and a fraud.
                <br /><br />
                Even Jesus asked this question to His disciples when he said, “Who do people say I am?” His disciples answered with, ‘Some say you are John the Baptist. Some say Elijah. Some say you’re another prophet.” To which Jesus replied, “But who do you say that I am?” (Mark 8:27-29). At the end of the day, the question Jesus asked the disciples is the same question he asks each of us today…”Who is Jesus" </p>
            <br/><br/>

            <h3>How you answer "Who is Jesus?" may be the most important thing about you.</h3>
            <p>How you answer that question will affect how you live your life in 2024. How you answer that question will affect your relationships with others. How you answer that question will impact your quality of life. How you answer that question will impact your generosity. More importantly, how you answer that question will affect your eternity. In order to answer that question, we have to look at the one place where we find the answer to this question, and that is the Bible.</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>
</body>
</html>