<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>“God, Just Tell Me What to Do Next!”</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>“God, Just Tell Me What to Do Next!”</h1>
        </div>
        <div class="blog-content">
            <h3>“When the Spirit of truth comes, He will guide you into all the truth.” – Jesus (John 16:13, CSB)</h3>
            <br><br><br>
            <p>In the midst of giving his disciples some final words of encouragement before the events of the cross, Jesus spent some time talking about the coming of the Holy Spirit (see John chapters 14 through 16). The Holy Spirit does many things in us, but one of those is that he guides us. Said another way: He gives us direction to stay on course; to remind us where true north is.
                <br /><br />
                Some of you might be thinking: “That’s great! That’s what I want! God, just tell me what to do and I’ll do it!”
                <br /><br />
                Hey, I believe your sincerity because I know mine. If you are like me, we often get frustrated wishing the Holy Spirit’s guidance to be as explicit as the GPS (“in 500 feet, turn left”). But his guidance is hardly ever like that (sometimes but rarely.) Rather his guidance comes at the core level of our soul. What do I mean by that?</p>
                <br /><br />

            <h2>The Holy Spirit guides us by tilling and cultivating our character more than micromanaging every single choice we make.</h2>
                <p>And this is actually brilliant. Why? Because if the Holy Spirit can lead us into truth—and conform us into the character of Christ—then we will make better decisions.
                <br /><br />
                We want easy answers and simple guidance, but Holy Spirit wants to do deep and abiding work that guides us while transforming us. The pace of his guidance often parallels the congruence of our character.
                <br /><br />
                Here is what that means:</p>
                <br /><br />

            <h2>The more I walk in obedience—the more I walk in Christ-likeness—the more God can show me what He has next.</h2>
                <p>Pay attention to see how your character formation is a catalytic factor to the clarity you are seeking in your everyday decision-making (big or small decisions). Clarity cannot be rushed. And often, God is not in a hurry. His guidance is to lead us into truth. When we are walking in his truth and in alignment with his heart, guidance will come on time.
                <br /><br />
                <em>Who the Holy Spirit is guiding you to become will inform what step to take next.</em> 
                <br /><br />
                The Holy Spirit is eager to lead you. Enjoy the journey!</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>

</body>
</html>