<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What do you do when your wine runs out?</title>
    <link rel="stylesheet" href="blog.css" />
</head>
<body>
    <%- include("../header.ejs") %>

    <div class="blog-bar">
        <div class="heading">
            <h1>What do you do when your wine runs out?</h1>
        </div>
        <div class="blog-content">
            <p>One of the privileges of being a pastor is the opportunity to not only attend but often participate in weddings. I have heard beautiful vows and have experienced the fear of rain at weddings. I am sure you have stories of some of your most memorable weddings. As an officiant, I have some memorable moments as well. I have seen brides and grooms faint and the flower girl run and cry. I have also heard beautiful vows from the bride followed by "ditto" from the groom. When Nicci and I sent out our wedding invites when we were getting married, we sent the Save the Date's out without...you guessed it, the date! We invited people to show up to a place without a date, that was our memory leading up to the wedding.</p>
                <br/><br/>
            
            <h2>Weddings aren't always perfect.</h2>
            <p>A lot can go right at wedding, but a lot can go wrong as well. That is where we find Jesus in John 2. Jesus' mother and his disciples showed up to a big wedding that had a big problem, the wine had run out! Now at first glance that doesn't seem like a big deal, but in their context, wine represented joy! Psalm 104:15 shares that the wine that God has provided gladdens the heart of humanity!
                <br /><br />
                So John is is trying to show us that the party didn't simply run out of wine, they ran out of joy! Have you ever had your wine run out? Have you ever had your joy run out? I've noticed it is often at the most unexpected times when we pause and look around, we realize, just maybe, our joy has run out. Maybe you've tried finding your joy in status, finances, relationships, career, or assets. There comes a time when our joy runs out when it is not from the right source.
                <br /><br />
                Jesus tells the servants at the party to fill jars with water, draw some out, and give it to the headwaiter. I wonder how that process went. I would have complained to Jesus. I would have said, "Jesus, they are out of wine, not water! So why am I getting water?" But Jesus had a plan because He always has a plan. Jesus has a plan to reveal who He is and he invites us to participate in the miracle.</p>
            <br/><br/>

            <h2>Are you on empty?</h2>
            <p>If your wine, your hope, your joy, your peace has run out, go first to Jesus because in Him we find all we need. The miraculous experience of water to wine was rooted in humble obedience. Let's experience and expect miracles as we humbly obey whatever Jesus tells us to do. As we continue our journey through the Gospel of John, join us as we learn how to fully experience Jesus at work in our lives everyday.</p>
        </div>
    </div>
    <%- include("../footer.ejs") %>
</body>
</html>