<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="header.css" />
</head>
<body>
    <div class="header-container">
      <div class="header-logo">
        <img src="images/logo2.png" alt="logo" />
      </div>
      <hr />
      <div class="header-tags">
        <button>EXPLORE BLOGS</button>
        <button>ABOUT ME</button>
        <button>CONTACT ME</button>
        <button>SUPPORT</button>
        <button class="post-option">POST A BLOG</button>
      </div>
    </div>
</body>
</html>